body {
  font-family: "Roboto", Arial;
  background-color: White;
}

.maincontainer {
  max-width: 800px;
  margin: 0 auto;
  zoom: 1;
}

.header,
.center {
  text-align: center;
}

.GoogleSearch {
  margin: 0 auto;
  padding-bottom: 10px;
}

.container {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@media print {
  .DONTPrint {
    display: none;
  }

  .DOPrint {
    display: table;
  }
}

header {
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
  padding: 2px 0;
}

@media all and (min-width: 641px) {
  body {
    margin: 8px;
    font-size: 14px;
    font-weight: 400;
  }

  input {
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 0.75em;
    margin: 2px;
    font-weight: 400;
  }

  input {
    font-size: 0.9em;
  }

  .search {
    max-width: 120px;
  }
}
