.directions {
  margin-top: 3px;
}

.mainContainer {
  padding-top: 130px;
}

@media only screen and (max-width: 640px) {
  .directions {
    margin-top: 6px;
  }

  .mainContainer {
    padding-top: 100px;
  }
}