.show_hideWeb {
  display: inline-block;
}
:global(.imgBorder) {
  border: 0;
}

:global(img) {
  aspect-ratio: 66 / 50;
}

.filters {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
  padding: 2px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 70px;
  display: block;
  align-items: center;
}

.container {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.loadingContainer,
.errorContainer {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #eee;
}

.loadingText {
  font-size: 1.2em;
  color: #666;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

/* Tablet / Desktop Overrides */
@media all and (min-width: 641px) {
  .filters {
    margin-top: 10px;
  }

  .buttonfont {
    font-size: 14px;
  }
}

/* Mobile Layout Overrides */
@media only screen and (max-width: 640px) {
  .flexContainer {
    flex-direction: row;
    padding-bottom: 4px;
  }

  .flexRow {
    padding-right: 10px;
  }

  .filters {
    margin-top: 5px;
  }

  .buttonfont {
    font-size: 0.9em;
  }

  .navbar {
    height: 58px;
    padding: 10px 3px;
  }

  :global(img) {
    aspect-ratio: 43 / 33;
  }
}
