.table {
  background-color: #fff;
  border: 2px ridge Gray;
  border-spacing: 1px;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  table-layout: auto;
}

.headerCell {
  border: thin solid Gray;
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.gameCell,
.conferenceCell,
.optionsCell {
  border: thin solid Gray;
  padding: 2px;
}

.gameCell {
  width: 50%;
}

.conferenceCell {
  width: 25%;
  text-align: center;
}

.optionsCell {
  width: 25%;
  text-align: center;
}

/* FCS game highlighting */
.fcs {
  background-color: yellow;
}

@media only screen and (max-width: 640px) {
  .gameCell,
  .conferenceCell,
  .optionsCell {
    padding: 1px;
  }
}
